*{

overflow:hidden!important;
	caret-color:#FF0000;
}
html,body{
	background:#000000;
	color:#00FF00;
	font-family:monospace;
}
.container{
	padding:8px;
}
textarea{
	background:#000000;
	color:#00FF00;
	width:100%;
	border:unset;
	background:#004400;
	margin:0px;
	padding:0px;
}
select,button{
	color:#00FF00;
	border:2px solid #008800;
	border-radius:4px;
	padding:8px;
	background:#004400;
}
select{
	font-size: 17px;
	font-weight: bold;
}
#out,#src,#prg{
	background:#000000;
	color:#00FF00;
	white-space:pre;
	background:#004400;
	overflow:scroll;
}
#out{
	white-space:nowrap;
	white-space:pre;
}
textarea:focus, input:focus, button:focus, select:focus{
	outline: none;
	background:#006600!important;
}
.error{
	background:#8e1414;
}
.progress{
	background:#000000;
	color:#00FF00;
	background:#008800;
	padding:8px;
	border-radius:8px;
	position:fixed;
	top:50%;
	left:50%;
	width:128px;
	height:64px;
	margin-top:-32px;
	margin-left:-64px;
	text-align:center;
	display: table; 
}
.progress>div{
	font-size:16px;
	background:#004400;
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
}

		
